#main {
	--link-color: #049ccf;
	--link-decoration: underline;
	grid-area: main;
	max-height: calc(100vh - var(--nav-height, 4rem));
	overflow: auto;
}

#page-list {
	gap: 8px;
}

#page-list a {
	max-width: 350px;
	grow: 1;
}

article p:first-letter {
	margin-left: 2em;
}

.meta-author-links.flex {
	gap: 12px;
}

.grid.directory {
	grid-template-columns: repeat(auto-fill, minmax(350px, 400px));
	gap: 8px;
	justify-content: space-evenly;
}

.share-business-btn {
	max-width: 250px;
}
