#nav {
	font-size: 1.2em;
	gap: 18px;
	grid-area: nav;
	max-height: var(--nav-height, 4rem);
	overflow: auto;
}

#nav > .nav-btn {
	background-color: transparent;
	color: inherit;
	border: none;
}

#install-btn > svg {
	margin-bottom: 10px;
}
