<!DOCTYPE html>
<html
	lang="{{ site.lang | default: 'en' }}"
	dir="{{ site.dir | default: 'ltr' }}"
	class="no-js scroll-smooth background-primary color-default font-main border-box"
	{% if site.service_worker %}
		data-service-worker="{{ site.service_worker }}"
		data-reload-on-update=""
		data-scope="{{ site.sw_scope | default: '/' }}"
	{% endif %}
	{% if page.ads %}data-ad-sense-id="{{ site.ad-sense }}"{% endif %}
	{% if page.pageLevelAds %}data-page-level-ads="{{ page.pageLevelAds }}"{% endif %}
	data-layout="{{ page.data-layout | default: layout.data-layout | default: layout.name }}"
	data-theme="{{ page.theme | default: layout.theme }}"
	itemtype="{{ page.itemtype | default: layout.itemtype | default: 'http://schema.org/WebPage' }}"
	itemscope=""
>
{% include common/head.html %}
	<body
		id="top"
		{% if page.scene %}data-scene="{{ page.scene }}"{% endif %}
		class="layout-{{ page.layout }} {{ page.body-class | default: 'grid' }}"
		contextmenu="{{ page.contextmenu | default: site.contextmenu }}"
		{% if page.itemprop and page.itemtype %}
			itemprop="{{ page.itemprop }}"
			itemtype="{{ page.itemtype }}"
			itemscope=""
		{% endif %}
	>
		{{ content }}
	</body>
</html>
